h1,h2,h3,h4,h5,h6,p,div,em,strong,b,i,span,article,header,body, section,figure,input,select,textarea,a,button{
	font-family: 'Lato', sans-serif;
}
body{
	font-size:10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input,
textarea{
    -webkit-border-radius:0px;
    -webkit-appearance: none;
    border-radius: 0;
}
input{
	background-color: transparent;
}
h1,.h1{
	font-size:2.2rem;
	line-height:1.2;
	font-weight:800;
}
h2,.h2{
	font-size:1.6rem;
	line-height:1.2;
	font-weight:800;
}
h3,.h3{
	font-size:1.8rem;
	line-height:1.2;
	font-weight:800;
}
p,.p, input, textarea, button, a, select, span, div, ul, li{
	font-size:1.4rem;
	line-height:1.2;
	font-weight:400;

}
i{
	font-weight:800 !important;
	font-size: 1.1em !important;
}
ul{
	list-style-type: square;
	li{

	}
}
button:focus {
	outline: none !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
@media screen and (max-width: 900px) {
	h1,.h1{
		font-size:1.5rem;
	}
	h2,.h2{
		font-size:1.4rem;
	}
	p,.p, input, textarea, button, a, select, span, div, ul, li, mark{
	font-size:1.3rem;

}
}